        
        header {
            grid-area: header;
            border: 1px solid black;
            padding: 0.5em;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
        }

        nav {
            grid-area: nav;
            border: 1px solid black;
            padding: 0.5em;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            line-height: 1.5;
            font-size: 22px;
        }

        main {
            grid-area: main;
            border: 1px solid black;
            padding: 0.5em;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            line-height: 1.5;
            font-size: 17px;     
        }

        aside {
            grid-area: aside;
            border: 1px solid black;
            padding: 0.5em;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            line-height: 1.5;
            font-size: 19px; 
        }

        footer {
            grid-area: footer;
            border: 1px solid black;
            padding: 0.5em;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
        }

        .grid-container {
            display: grid;
            grid-template-areas:
                'header header header header header header'
                'nav nav main main main aside'
                'nav nav main main main aside'
                'nav nav footer footer footer footer';
            grid-gap: .5em;
			
			
        }

        body {
  background-color: rgb(238, 232, 206);
  margin: 0;
  font-family: sans-serif;
}


        ul li {
            list-style-type: none;
        }


        @media only screen and (max-width : 800px) {
            
            .grid-container {
                display: grid;
                grid-template-areas:
                    'nav nav nav nav nav nav'
                    'header header header header header header'
                    'main main main main aside aside'
                    'footer footer footer footer footer footer';
                grid-gap: .5em;
            }

            ul li {
                display: inline-block;
            }

        }

        @media only screen and (max-width : 550px) {

            .grid-container {
                display: grid;
                grid-template-areas:
                    'nav nav nav nav nav nav'
                    'header header header header header header'
                    'main main main main main main'
                    'aside aside aside aside aside aside'
                    'footer footer footer footer footer footer';
                grid-gap: .5em;
            }

            ul li {
                display: inline-block;
            }

            video {
				display: none;
			}

        }
        
