        img		{ 
			max-width: 45%;
			float: left;
		}
		
		
		header {
            grid-area: header;
            border: 1px solid black;
            padding: 0.5em;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
        }

        nav {
            grid-area: nav;
            border: 1px solid black;
            padding: 0.5em;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 25px; 
        }

        main {
            grid-area: main;
            border: 1px solid black;
            padding: 0.5em;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            line-height: 1.5;
            font-size: 16px;       
        }

        aside {
            grid-area: aside;
            border: 1px solid black;
            padding: 0.5em;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            line-height: 1.5;
            font-size: 16px; 
        }

        .grid-container {
            display: grid;
            grid-template-areas:
                'header header header header header header'
                'nav nav main main main aside'
                'nav nav main main main aside'
                'nav nav footer footer footer footer';
            grid-gap: .5em;
        }

        body {
  background-color: rgb(238, 232, 206);
  margin: 0;
  font-family: sans-serif;
}


        ul li {
            list-style-type: none;
        }


        @media only screen and (max-width : 800px) {
    

            .grid-container {
                display: grid;
                grid-template-areas:
                    'header header header header header header'
					'nav nav nav nav nav nav'
                    'main main main main aside aside';
                grid-gap: .5em;
                padding: .5em;
            }

            ul li {
                display: inline-block;
            }

        }
        @media only screen and (max-width : 550px) {


            .grid-container {
                display: grid;
                grid-template-areas:
                    'nav nav nav nav nav nav'
                    'header header header header header header'
                    'main main main main main main'
                    'aside aside aside aside aside aside';
                grid-gap: .5em;
                padding: .5em;
            }

            ul li {
                display: inline-block;
            }
			
			img {
				display: none;
			}
        }